body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: turquoise;
}

.container{
    width: 100%;
    height: 100%;
    background: turquoise;
}

.navbar ul{
    display: inline-flex;
    margin: 50px;
}

.navbar ul li{
    list-style: none;
    margin: 0px 20px;
    cursor: pointer;
    color: #363535;
}

.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: black;
    border: 2px solid transperent;
    border-radius: 20px;
    background-origin: border-box;
    padding: 8px 20px;
}

.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
}

/*.app-text{
    width: 50%;
    float: left;
}*/

.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    margin: 30px 0px 30px 40px;
    line-height: 25px;
    font-size: 15px;
    width: 650px;
}

.image{
    width: 50%;
    float: right;
}

.image img{
    width: 50%;
    float: right;
    margin-right: 100px;
}

.social-icon{
    width: 50px;
    height: 50px;
}